h1 {
    color: green;
}

/* CREATE GAME */
.create-game {
    display: none;
}

/* JOIN GAME */
.join-game {
    display: none;
}

/* INVITE FRIENDS */
.invite-friends {
    display: none;
}

/* PLAYERS */
.players {
    display: none;
}

/* START GAME */
.start-game__ready{
    display: none;
}

.start-game__wait {
    display: none;
}

.game-starting {
    display: none;
}

/* ROUND */
.round {
    display: none;
}

.round__image {
    height: 300px;
    width: auto;
}

.round__waitingForOthers {
    display: none;
}

/* ROUND RESULTS */
.round-results {
    display: none;
}

.round-results__image {
    height: 300px;
    width: auto; 
}

.round-leaderboard {
    display: none;
}

.game-leaderboard {
    display: none;
}

.game-over {
    display: none;
}